.base-form {
  padding: 10px;
}
.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 46px;
  line-height: 46px;
  margin-bottom: 12px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #cecece;
}
.form-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
}
.form-inline .form-control {
  display: inline-block;
  flex: auto;
  width: 49%;
}
.form-inline .form-control:first-child {
  margin-right: 2%;
}
.btn {
  display: inline-block;
  font-size: 16px;
  line-height: 46px;
  height: 46px;
}
