@import url(../../mixins/variable.less);
@import url(../ui-base/ui-reuse.less);

h2{
	margin:15px auto;
	line-height: 1.25;
	font-size: @h2;
}
h3{
	margin:10px auto;
	line-height: 1.25;
	font-size: @h3;
}
p{
	font-size: @normal;
	line-height: 1.6;
}