@charset "utf-8";
/*适应高清屏的边框*/
/* 圆角 */
/* 基础色 */
/* 强调色 */
/* 背景色 */
/* 字体色 */
/* 边框 */
/* 按钮 */
/* 字号 */
/* 间距 */
/* hcysun */
/******* reset *******/
html {
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  font-family: Helvetica;
}
body {
  font-size: 12px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
pre,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-indent: 0;
}
a,
button,
input,
textarea,
select {
  background: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  outline: none;
  -webkit-appearance: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover,
a:visited {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: top;
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  resize: none;
  overflow: auto;
}
/******* end reset *******/
/******* public *******/
/* 清除浮动 */
.clear {
  zoom: 1;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
/* 定义盒模型为怪异和模型（宽高不受边框影响） */
.boxSiz {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* 强制换行 */
.toWrap {
  word-break: break-all;
  /* 只对英文起作用，以字母作为换行依据。 */
  word-wrap: break-word;
  /* 只对英文起作用，以单词作为换行依据。*/
  white-space: pre-wrap;
  /* 只对中文起作用，强制换行。*/
}
/* 禁止换行 */
.noWrap {
  white-space: nowrap;
}
/* 禁止换行,超出省略号 */
.noWrapEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 文字两端对齐 */
.text-justify {
  text-align: justify;
  text-justify: inter-ideograph;
}
/* flex布局 */
.flex_layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* table布局 */
.table_layout {
  display: table;
}
.table_layout > div {
  display: table-cell;
  vertical-align: middle;
}
/* 定义盒模型为 flex布局兼容写法并让内容水平垂直居中 */
.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -o-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -o-box-align: center;
  box-align: center;
}
/******* public end *******/
/******* shushi00 UI standard *******/
/* 重置input 提示符字体颜色 */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #888;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #888;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #888;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #888;
}
/* 背景色 */
html,
body {
  background-color: #F8F8F8;
}
/* 浮动 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.base-form {
  padding: 10px;
}
.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 46px;
  line-height: 46px;
  margin-bottom: 12px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #cecece;
}
.form-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
}
.form-inline .form-control {
  display: inline-block;
  flex: auto;
  width: 49%;
}
.form-inline .form-control:first-child {
  margin-right: 2%;
}
.form-cells {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  background-color: #fff;
  overflow: hidden;
}
.form-cells:before {
  top: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  border: 1px solid #e5e5e5;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}
.form-cells:after {
  bottom: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  border: 1px solid #e5e5e5;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}
.form-cells .form-cell:first-child:before {
  content: normal;
}
.form-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  padding-left: 15px;
}
.form-cell:before {
  top: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 15px;
  border: 1px solid #e5e5e5;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}
.form-cell:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-cell-bd {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.form-cell-label {
  display: block;
  width: 110px;
  word-wrap: break-word;
  word-break: break-all;
}
.form-cell-select {
  width: 100%;
  padding-right: 30px;
  height: 45px;
  line-height: 45px;
  direction: rtl;
  font-size: 16px;
}
.list-icon-form .form-cell {
  padding-left: 41px;
}
.list-icon-form .mid-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -8px;
}
.btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 0  25px;
  font-size: 28px;
  line-height: 0.8rem;
  text-align: center;
  border-radius: 0.106667rem;
  border: 1px solid #cecece;
}
.btn-block {
  display: block;
  width: 100%;
  font-size: 32px;
  line-height: 1.173333rem;
}
.btn-block + .btn-block {
  margin-top: 42px;
}
.btn-br {
  line-height: 0.88rem;
  font-size: 32px;
}
.btn-default {
  color: #fff;
  background-color: #0097e0;
  border-color: #5DB9FF;
}
.btn-default:active {
  background-color: #2fb2f6;
}
.btn-warning {
  color: #fff;
  background-color: #ff2435;
  border-color: #5DB9FF;
}
.btn-warning:active {
  background-color: #FF4553;
}
.btn-br-default {
  color: #0097e0;
  border-color: #0097e0;
}
.btn-br-disabled {
  color: #d5d5d5;
  border-color: #d5d5d5;
}
.mid-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  overflow: hidden;
}
.color-wrapper {
  padding: 0 0.2rem;
}
.base-colors p {
  margin-bottom: 0.2rem;
}
.base-colors li {
  float: left;
  margin-right: 0.24rem;
}
.base-colors li div {
  width: 1.52rem;
  height: 1.52rem;
}
.base-colors .blue-normal {
  background-color: #0097e0;
}
.base-colors .blue-bright {
  background-color: #2fb2f6;
}
.base-colors .blue-dark {
  background-color: #0087c9;
}
.base-colors .blue-brighter {
  background-color: #83d5ff;
}
.base-colors .purple {
  background-color: #6a7fa5;
}
.base-colors .orange-normal {
  background-color: #ff5400;
}
.base-colors .orange-bright {
  background-color: #ff7f2f;
}
.base-colors .red-bright {
  background-color: #ff4452;
}
.base-colors .red-normal {
  background-color: #ff2435;
}
.base-colors .green {
  background-color: #4ed544;
}
.base-colors .brown {
  background-color: #c7b292;
}
.base-colors .text-important {
  background-color: #2a2a2a;
}
.base-colors .text-normal {
  background-color: #666666;
}
.base-colors .text-info {
  background-color: #b2b2b2;
}
.base-colors .border-color {
  background-color: #dcdfe1;
}
.base-colors .default-bg {
  background-color: #F8F8F8;
  border: 1px solid #dcdfe1;
}
.base-colors .white-bg {
  background-color: #fff;
}
h2 {
  margin: 15px auto;
  line-height: 1.25;
  font-size: 40px;
}
h3 {
  margin: 10px auto;
  line-height: 1.25;
  font-size: 36px;
}
p {
  font-size: 24px;
  line-height: 1.6;
}
