.form-cells {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  background-color: #fff;
  overflow: hidden;
}
.form-cells:before {
  top: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  border: 1px solid #e5e5e5;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}
.form-cells:after {
  bottom: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  border: 1px solid #e5e5e5;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}
.form-cells .form-cell:first-child:before {
  content: normal;
}
.form-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  padding-left: 15px;
}
.form-cell:before {
  top: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 15px;
  border: 1px solid #e5e5e5;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}
.form-cell:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-cell-bd {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.form-cell-label {
  display: block;
  width: 110px;
  word-wrap: break-word;
  word-break: break-all;
}
.form-cell-select {
  width: 100%;
  padding-right: 30px;
  height: 45px;
  line-height: 45px;
  direction: rtl;
  font-size: 16px;
}
